<nav class="navbar navbar-toggleable-md navbar-light "style="background-color: #FFF0F5	;">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">   </a>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Главная <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" data-toggle="modal" data-target="#myModal">Добавить животного</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
    </ul>
    <span class="navbar-text">
      Navbar text with an inline element
    </span>
  </div>
</nav>
<!--<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button>-->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Добавить животного</h4>
      </div>
      <div class="modal-body">

        <input class="form-control" [(ngModel)]="cat.name" #name2="ngModel"  required placeholder = "Имя животного"  />

        <app-select-cat #gender2="ngModel" [(ngModel)]="cat.sex" ngDefaultControl required></app-select-cat>


        <input class="form-control" [(ngModel)]="cat.age" #age2="ngModel"  required  placeholder = "Возраст"  />

        <input class="form-control" [(ngModel)]="cat.color" #color2="ngModel" required  placeholder = "Окрас"  />
        <input type="file" name="photo" accept="image/*,image/jpeg" [(ngModel)]="cat.photos"/>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
        <button [disabled]="name2.invalid || age2.invalid || color2.invalid|| gender2.invalid" class="btn btn-primary" (click)="addItem(cat.name, cat.sex,cat.age,cat.color);cat.name=''; cat.sex='';cat.age='';cat.color='';" data-dismiss="modal">Сохранить</button>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-xl-12 col-sm-12 col-md-12 col-lg-12">
      <div style='width: 100%; height: 500px;background-size: cover;'>
        <div parallax speed="-15"  src="../assets/img/cat_header5.jpeg"></div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row justify-content-md-center">
    <div class=" col-sm-6 col-md-6 col-md-4 col-xl-3" *ngFor="let item of cats">
      <a [routerLink]="['pet', item.id]"><app-show-one-pet  [cat]="item"></app-show-one-pet></a>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

