<!--<section class="main" *ngIf="cats.length > 0">
  <ul class="cats-list">
    <li *ngFor="let cat of cats" >
      <div class="view">


        <label>{{cat.name}}</label>
        <button class="destroy" (click)="removeCat(cat)"></button>
      </div>
    </li>
  </ul>
</section>-->
<!-- Button trigger modal -->
<nav class="navbar navbar-toggleable-md navbar-light "style="background-color: #FFF0F5	;">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">   </a>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Главная <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" data-toggle="modal" data-target="#myModal">Добавить животного</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
    </ul>
    <span class="navbar-text">
      Navbar text with an inline element
    </span>
  </div>
</nav>
<!--<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button>-->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Добавить животного</h4>
      </div>
      <div class="modal-body">

        <input class="form-control" [(ngModel)]="cat.name" #name2="ngModel"  required placeholder = "Имя животного"  />

        <app-select-cat #gender2="ngModel" [(ngModel)]="cat.sex" ngDefaultControl required></app-select-cat>


        <input class="form-control" [(ngModel)]="cat.age" #age2="ngModel"  required  placeholder = "Возраст"  />

        <input class="form-control" [(ngModel)]="cat.color" #color2="ngModel" required  placeholder = "Окрас"  />


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
        <button [disabled]="name2.invalid || age2.invalid || color2.invalid|| gender2.invalid" class="btn btn-primary" (click)="addItem(cat.name, cat.sex,cat.age,cat.color);cat.name=''; cat.sex='';cat.age='';cat.color=''" data-dismiss="modal">Сохранить</button>
      </div>
    </div>
  </div>
</div>
<ul>
  <li appHighlight *ngFor="let item of cat">{{item.name}}
    <i class="fa fa-mars" *ngIf="item.sex=='Male'"></i> <i class="fa fa-venus" *ngIf="item.sex=='Female'"></i> <i class="fa fa-question" *ngIf="item.sex=='Indefinite'"></i>
{{item.age}},{{item.color}},{{item.sterilized}},{{item.owned}}</li>
</ul>


